.dhx-diagram-demo_uml {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.dhx-diagram-demo_uml h3 {
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.dhx-diagram-demo_uml ul {
  padding: 8px 5px 5px 5px;
}
.dhx-diagram-demo_uml li {
  text-align: left;
  list-style-type: circle;
  margin: 5px 0 0 20px;
  white-space: nowrap;
}
