@import url(https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css);
/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background: #fff;
}

.dhx-container {
  height: 100%;
  background-color: #fff;
}

.dhx-container_header {
  height: 60px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.dhx-container_header a {
  cursor: pointer;
  text-decoration: none;
  color: #0288d1;
  margin-bottom: 15px;
}

.dhx-container_header h3 {
  color: rgba(0, 0, 0, 0.7);
}

.dhx_sample-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	height: 60px;
	border-bottom: 1px solid #DFDFDF;
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
	font-size: 14px;
}
.dhx_sample-controls button:not(:last-child),
.dhx_sample-controls input:not(:last-child),
.dhx_sample-controls select:not(:last-child) {
	margin-right: 12px;
}
.dhx_sample-controls .dhx_form-group {
	margin: 0;
}
.dhx_sample-controls .dhx_form-group .dhx_label {
	padding-left: 6px;
	line-height: 24px;
	max-width: 100%;
}

.dhx-container_inner, .dhx_sample-widget {
  height: 100%;
}

.dhx_sample-container__with-editor.dhx-container_inner, .dhx_sample-container {
  height: calc(100% - 60px);
}

.dhx_sample-container__without-editor.dhx-container_inner {
  height: calc(100% - 120px);
}

/* Buttons */
.dhx_sample-btn {
  border: none;
  outline: none;
  padding: 6px 16px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.dhx_sample-btn--flat {
  background: #0288d1;
  color: #fff;
}
.dhx_sample-btn--flat:hover {
  background-color: #35a0da;
  transition: background-color 0.2s ease-out;
}

.dhx_diagram {
  background-color: #fff !important;
}

.dhx-diagram-demo_group {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
.dhx-diagram-demo_group__image {
  height: 64px;
  width: 64px;
  background-size: contain;
  background-repeat: no-repeat;
}
.dhx-diagram-demo_group__text {
  overflow: hidden;
  padding-top: 10px;
  text-align: center;
  word-wrap: break-word;
  white-space: pre-wrap;

  font-weight: 500;
  line-height: 20px;
  min-height: 50px;
  width: 100%;
}

.dhx-diagram-demo_network-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  border: 1px solid #dfdfdf;
  overflow: hidden;
}
.dhx-diagram-demo_network-card span {
  font-weight: 300;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}
.dhx-diagram-demo_network-card span:not(:last-child) {
  font-weight: 500;
  margin-top: 16px;
}
.dhx-diagram-demo_network-card img {
  width: 64px;
  height: 64px;
  pointer-events: none;
  border-radius: 50%;
}

.dhx_diagram_template_a_box {
  background-color: transparent;
}
.dhx_diagram_template_a_box {
  padding: 0;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  overflow: hidden;
}
.dhx_diagram_template_a {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px;
}
.dhx_diagram_template_a__inside {
  display: flex;
  width: 100%;
}
.dhx_diagram_template_a__picture {
  width: 90px;
  min-width: 90px;
  background: center center/cover no-repeat #f7f7f7;
}
.dhx_diagram_template_a__picture:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.dhx_diagram_template_a__body {
  padding-left: 12px;
  min-width: 200px;
}
.dhx_diagram_template_a__title,
.dhx_diagram_template_a__text {
  font: normal 14px/20px Roboto, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dhx_diagram_template_a__title {
  text-align: start;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}
.dhx_diagram_template_a__row {
  display: flex;
  align-items: center;
  margin: 4px 0;
}
.dhx_diagram_template_a__icon {
  font-size: 18px;
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.7);
}
.dhx_diagram_template_a__text {
  color: rgba(0, 0, 0, 0.7);
}
.dhx_diagram_template_a__link {
  color: #0288d1;
}


/*# sourceMappingURL=main.0aa96643.chunk.css.map*/