/* You can add global styles to this file, and also import other style files */
@import "https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background: #fff;
}

.dhx-container {
  height: 100%;
  background-color: #fff;
}

.dhx-container_header {
  height: 60px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.dhx-container_header a {
  cursor: pointer;
  text-decoration: none;
  color: #0288d1;
  margin-bottom: 15px;
}

.dhx-container_header h3 {
  color: rgba(0, 0, 0, 0.7);
}

.dhx_sample-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	height: 60px;
	border-bottom: 1px solid #DFDFDF;
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
	font-size: 14px;
}
.dhx_sample-controls button:not(:last-child),
.dhx_sample-controls input:not(:last-child),
.dhx_sample-controls select:not(:last-child) {
	margin-right: 12px;
}
.dhx_sample-controls .dhx_form-group {
	margin: 0;
}
.dhx_sample-controls .dhx_form-group .dhx_label {
	padding-left: 6px;
	line-height: 24px;
	max-width: 100%;
}

.dhx-container_inner, .dhx_sample-widget {
  height: 100%;
}

.dhx_sample-container__with-editor.dhx-container_inner, .dhx_sample-container {
  height: calc(100% - 60px);
}

.dhx_sample-container__without-editor.dhx-container_inner {
  height: calc(100% - 120px);
}

/* Buttons */
.dhx_sample-btn {
  border: none;
  outline: none;
  padding: 6px 16px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.dhx_sample-btn--flat {
  background: #0288d1;
  color: #fff;
}
.dhx_sample-btn--flat:hover {
  background-color: #35a0da;
  transition: background-color 0.2s ease-out;
}

.dhx_diagram {
  background-color: #fff !important;
}
